@import 'base'

.line
.url
  padding 1em 0

.line
  display block
  text-decoration none
  margin 0
  overflow ellipsis
  &:hover
    text-decoration underline

.url
  position fixed
  top 0
  right 0
  left 0
  pointer-events none
