@import 'base'

.line
.url
  padding 0.5em 0
  overflow hidden
  white-space nowrap

.line
  display block
  text-decoration none
  margin 0
  &:hover
    text-decoration underline

.url
  position fixed
  top 0
  right 0
  left 0
  pointer-events none
